# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
*.log

# environment
.env
.env.*
!.env.example

# platform
.netlify/
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
